body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    padding: 5px;
    background-image: url(circle-scatter-haikei.svg);
    background-size: cover;
}
img{
    margin: 30px;
    padding: 30px;
}
header {
    background-color:  #333;
    color: red;
    padding: 10px 0;
    text-align: center;
}
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    opacity: 0.9;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: red;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: red;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(197, 197, 19);
    color: rgb(24, 23, 23);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: all 0.4s ease-in-out;
}

button:hover {
    transform: scale(1.04);
    transition: all 0.4s ease-in-out;
}
nav{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 65px;
    background-color:#333 ;
    padding: 0;
    text-decoration: none;
    gap: 20px;
    color: red;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    position: relative;
    cursor: pointer;
    color: rgb(250, 2, 2);
    font-size: 28px;
    padding: 0.5em 1em;
    transition: color 0.25s;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    font-family: Rubik, sans-serif;
}
a:hover{
    background-color: rgb(255, 51, 51);
    height: 60px;
    width: 100%;
    border-radius: 10px;
}
footer{
    padding: 30px;
    font-size:40px ;
    text-size-adjust: 70px;
    text-align: center;
    background-color: #333;
    color: red;
    margin: 50px;
    padding: 30px;
}
